
.loader {
    margin: auto;
    margin-top: 20px;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #ff7a59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
  }
  